*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FEDCC8;
}
.overlay-background{
    width: 100%;
    height: 100%;
    position: absolute;
}
.overlay-background .image{
    position: absolute;
    width: 100%;
    height: 85%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    position: fixed;
    bottom: 0;
}
.overlay-background .image1{
    background-image: url("https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_0.png?raw=true");
}
.overlay-background .image2{
    background-image:url("https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_1.png?raw=true");
}
.overlay-background .image3{
    background-image:url("https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_2.png?raw=true");
}
.overlay-background .image4{
    background-image:url("https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_3.png?raw=true");
}
.overlay-background .image5{
    background-image:url("https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_4.png?raw=true");
}
.overlay-background .image6{
    background-image:url("https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_5.png?raw=true");
}
.overlay-background .image7{
    background-image:url("https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_6.png?raw=true");
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 390px;
    height: 370px;
    /* background: rgba(255, 255, 255, 0.1); */
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(2px);
}
.container .head{
    margin: 25px;
    text-align: center;
}
.container form{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container form .row{
    /* border: 1px solid white; */
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-top: 10px;
}
.container .row label{
    position: absolute;
    pointer-events: none;
    transition: all 0.2s;
    margin-left: 8px;
    color: white;
}
.container .row input{
    font-size: 20px;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 8px;
    border-radius: 4px;
    color: white;
}
/* .container .row input:focus{
    border:1px solid rgba(255, 127, 80,1);
}
.container .row input:valid {
    border:1px solid rgb(121, 255, 80);
}
.container .row input:invalid:not(:placeholder-shown){
    border: 1px solid red;
} */

.container .row input:not(:placeholder-shown) + label,
.container .row input:focus + label{
    font-size: 15px;
    margin-top: -60px;
}
.container form .row svg{
    height: 2px;
    position: absolute;
    width: 259px;
    margin-top: 36px;
    opacity: 1;
    transition: all 0.15s;
    stroke-dasharray: 0, 129.5;
    stroke-dashoffset: -129.5;
}
.container .row input:focus ~ svg{
    opacity: 1;
    stroke-dasharray: 258, 0;
    stroke-dashoffset: 0;
}
.container .row input:valid ~ svg .path{
    /* border:1px solid rgb(121, 255, 80); */
    stroke:rgb(121, 255, 80);
}
.container .row input:invalid:not(:placeholder-shown) ~ svg .path{
    stroke: rgb(214, 14, 0);
}

.container .row input.wrong ~ svg{
    opacity: 1;
    stroke-dasharray: 258, 0;
    stroke-dashoffset: 0;
}
.container .row input.wrong ~ svg .path{
    stroke: rgb(214, 14, 0);
}






.container button{
    font-size: 20px;
    margin-top: 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0,0.2);
    border-radius: 5px;
    width: 100px;
    transition: all 0.1s;
}
.container button:hover{
    background: rgba(0, 0, 0,0.5);
    border: 1px solid coral;
}
.container button:active{
    background: rgba(45, 17, 43,0.7);
}
.login{
    position: absolute;
    width: 90px;
    height: 35px;
    color: coral;
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    background: rgba(45, 17, 43,0);
    font-size: 17px;
    transition: all 0.2s;
}
.login:hover{
    text-decoration: underline;
}
.home{
    position: absolute;
    width: 80px;
    height: 35px;
    color: coral;
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: rgba(45, 17, 43,0);
    font-size: 20px;
    transition: all 0.2s;
}
.home i{
    font-size: 24px;
    margin-top: -2px;
    color: coral;
}
.social{
    /* border: 1px solid white; */
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 220px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.social .icon{
    /* border: 1px solid white; */
    width: 40px;
    height: 40px;/* goes from white to coral */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}
.social .icon i{
    color: white;
    transition: all 0.15s;
}
.social .icon:hover i{
    color: coral;
}
.logo1{
    position: absolute;
    left: 50%;
    top: 10px;
    /* border: 1px solid black; */
    width: 120px;
    height: 80px;
    transform: translate(-50%,0%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1 .header2{
    font-family: 'Brush Script MT', cursive;
    font-size: 26px;
    color: rgba(45, 17, 43,1);
    text-align: center;
}
.logo1 .header2 i{
    color: rgba(45, 17, 43,1);
    font-size: 24px;
}

.message{
    color: rgb(201, 0, 0);
    position: absolute;
    font-size: 10px;
    margin-top: 60px;
    opacity: 0;
    transition: all 0.1s;
}
.message.wrong{
    font-size: 16px;
    opacity: 1;
}