@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
.flex_middle{
    display:flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
}
body,html{
    width: 100%;
    height: 100%;
    overflow:hidden;
    background-color: rgb(36, 10, 34);
}
.head{
    width: 100%;
    height: 100%;
    background: rgb(254, 220, 200);
}
.head .parallax_images{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    pointer-events: none;
    overflow: hidden;
}
.head .parallax_images .parallax{
    width: 100%;
    height: 89%;
    margin-left: 25%;
    position: absolute;
    background-repeat:no-repeat;
    bottom: -4px;
    background-size:cover;
    background-position: center;
    background-image: url("../image/layer_8.png");
}

.head .logo{
    width: 46%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.head .logo .svg_wraper{
    width: 19em;
    height: 4em;
    display: flex;
    align-items: center;
    position: absolute;
    top: 24%;
    cursor: pointer;
}
.head .logo .svg_wraper svg{
    width: 100%;
    height: 100%;
}
.head .logo .svg_wraper .deer{
    width: 35%;
    height: 95%;
    margin-top: -0.7em;
    margin-right: 1em;
    transition: all 0.25s ease-in-out;
}
.head .logo .svg_wraper:hover .deer{
    filter: drop-shadow(0px 0px 4px rgba(36,10,34, 0.8));
}
.head .logo .svg_wraper svg path{
    fill: rgb(36,10,34);
    border: 1px solid black;
}


.head .form_wraper{
    width: 54%;
    height: 100%;
    background: rgb(36,10,34);
    position: absolute;
}
.head .form_wraper .form{
    width: 27em;
    height: 25em;
    max-width: 100%;
    position: absolute;
    flex-direction: column;
}
.head .form_wraper .svg_logo{
    width: 2.8em;
    height: 2.8em;
    position: absolute;
    top: 7%;
    display: none;
    cursor: pointer;
}
.head .form_wraper .svg_logo svg path{
    fill: rgb(105, 61, 100);
}
.head .form_wraper .form .auth_text{
    width: 12em;
    height: 2.5em;
    position: absolute;
    top: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head .form_wraper .form .auth_text p{
    position: absolute;
    font-size: 0.85em;
    color: rgb(255, 58, 23);
    opacity: 0;
}
.head .form_wraper .form.username_null .auth_text p{
    opacity: 1;
}

.head .form_wraper .form .section{
    width: 100%;
    height: 100%;
    position: relative;
}
.head .form_wraper .form .submit{
    margin-top: 1.6em;
}
.head .form_wraper .form .text{
    display: flex;
    align-items: center;
}
.head .form_wraper .form .section .login{
    color: rgb(116, 72, 111);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    letter-spacing: 1px;
}

.head .form_wraper .form .email input{
    border: none;
    height: 2.9em;
    outline: none;
    border-radius: 4px;
    background: rgb(56, 22, 54);
    color: rgb(134, 62, 114);
    font-size: 1em;
    padding: 0 0 0 1.5em;
    width: 100%;
}

.head .form_wraper .form .password input{
    border: none;
    height: 2.9em;
    outline: none;
    border-radius: 4px;
    background: rgb(56, 22, 54);
    color: rgb(134, 62, 114);
    font-size: 1em;
    padding: 0 0 0 1.5em;
    width: 100%;
}

.head .form_wraper .form .section .svg-icon{
    height: 40%;
    position: absolute;
    right: 1em;
    pointer-events: none;
    opacity: 0;
}
.head .form_wraper .form.username_null .section .svg-icon{
    opacity: 1;
}
.head .form_wraper .form .section .svg-icon path{
    fill: rgb(255, 46, 9);
}

.head .form_wraper .form .submit button{
    border: none;
    height: 2.9em;
    outline: none;
    border-radius: 4px;
    background: rgb(56, 22, 54);
    color: rgba(231, 15, 91, 0.9);
    font-size: 1.05em;
    width: 28.4em;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.head .form_wraper .form .submit .submit_butt.grey{
    opacity: 0.65;
    pointer-events: none;
}
.head .form_wraper .form .submit :hover{
    color: rgba(231, 15, 91, 1);
    text-shadow: 0px 0px 2px rgba(231, 15, 91, 0.5);
}

.head .form_wraper .form .create a{
    border: none;
    height: 2.9em;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(56, 22, 54);
    color: rgba(134, 62, 114, 0.8);
    font-size: 1.05em;
    width: 28.4em;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}
.head .form_wraper .form .create a:hover{
    color: rgb(134, 62, 114);
}

.head .form_wraper .form .section label{
    position: absolute;
    left: 1.5em;
    font-size: 1em;
    pointer-events: none;
    color: rgb(134, 62, 114);
    transform-origin: left;
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.37, 1);
}
.head .form_wraper .form .section input:focus + label,
.head .form_wraper .form .section input:not(:placeholder-shown) + label{
    margin-top: -4em;
    transform: scale(0.85);
    color: rgba(134, 62, 114, 0.5);
}


.head .form_wraper .example_account{
    width: 100%;
    height: 2.8em;
    position: absolute;
    top: 8%;
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
}
.head .form_wraper .example_account .svg-icon{
    height: 70%;
    margin-left: 1em;
    margin-right: 0.5em;
}
.head .form_wraper .example_account .svg-icon path{
    fill: rgba(247, 51, 119, 0.7);
}
.head .form_wraper .example_account .account_info{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.head .form_wraper .example_account .account_info p{
    width: 100%;
    height: 100%;
    color: rgba(247, 51, 119, 0.7);
    word-spacing: 4px;
    font-size: 0.8em;
}
.head .form_wraper .example_account .account_info span{
    height: 100%;
    color: rgba(247, 51, 119, 0.7);
    word-spacing: 4px;
    font-size: 0.8em;
    position: absolute;
    bottom: 75%;
    text-decoration: underline;
}




@media only screen and (max-width: 900px){
    .head .logo .svg_wraper{font-size: 80%;}
    .head .form_wraper .form{font-size: 80%;width: 24em;}
    .head .form_wraper .example_account{font-size: 95%;}
}
  
@media only screen and (max-width: 600px){
    .head .form_wraper{width: 100%;}
    .head .logo{display: none;}
    .head .parallax_images{display: none;}
    .head .form_wraper .svg_logo{display: flex;}
    .head .form_wraper .example_account{top: 85%;font-size: 90%;}
}