@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
.flex_middle{
  display:flex;
  justify-content: center;
  align-items: center;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
}
body,html{
  width: 100%;
  height: 100%;
  overflow:hidden;
  background-color: rgb(36, 10, 34);
}

.movie_catalog{
  width: 100%;
  height: 200vh;
  transition: all 2.8s;
  transition-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
	font-size: 100%;
}
.movie_catalog .head{
  width: 100%;
  height: 100vh;
	background: rgb(254, 220, 200);/* testing */
	position: relative;
	font-size: 100%;
}
.movie_catalog .head .leaves{
  /* border: 1px solid black; */
  position: absolute;
  top: -0.85em;
  left: -0.75em;
  width: 4.5em;
  height: 4.5em;
  transform: rotate(120deg);
  z-index: 12;
}
.movie_catalog .head .leaves .leaves_svg{
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.movie_catalog .head .leaves .leaves_svg path{
  fill: rgb(36, 10, 34);
  fill: none;
  stroke: rgb(36, 10, 34);
  stroke-width: 6;
  filter: drop-shadow(0px 0px 2px rgb(36, 10, 34));
}
.movie_catalog .head .leaves .leaves_svg:first-child path{
  fill: rgb(153, 0, 58);
  stroke: rgb(153, 0, 58);
  stroke-width: 4;
  filter: drop-shadow(0px 0px 2px rgb(153, 0, 58));
}
.movie_catalog .head .leaves .leaves_svg:first-child{
  transform: rotate(35deg) scale(0.9);
  transform-origin: bottom center;
}


/*== scroll down butt ==================================================================================*/


.movie_catalog .head .images .scroll_butt{
  position: absolute;
  width: 3em;
  height: 3em;
  bottom: 5%;
  padding: 0.9em;
  cursor: pointer;
}
.movie_catalog .head .images .scroll_butt .scroll_svg{
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  animation-name: unscroll;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.movie_catalog .head .images .scroll_butt .scroll_svg path{
  stroke: white;
  stroke-width: 2;
  fill: rgba(255, 255, 255,0);
  transition: all 0.2s ease-in-out;
}
.movie_catalog .head .images .scroll_butt:hover .scroll_svg path{
  fill: rgba(255, 255, 255,1);
}

.movie_catalog .head .images .scroll_butt:hover .scroll_svg{
  animation-name: scroll;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes scroll {
  0%{transform: translateY(0%);}
  30%{transform: translateY(8%);}
  100%{transform: translateY(-25%);}
}
@keyframes unscroll {
  0%{transform: translateY(-25%);}
  70%{transform: translateY(8%);}
  100%{transform: translateY(0%);}
}








.movie_catalog .head .images{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: height,font-size;
}
.movie_catalog .head .images .parallax{
	width: 100%;
  height: 100%;
  position: absolute;
  background-repeat:no-repeat;
	bottom: 0;
}
.parallax_0{
  background-image: url("/image/layer_0.png");
  background-size:cover;
  background-position: center;
}
.parallax_1{
  background-image: url("/image/layer_1.png");
  background-size:cover;
  background-position: center;
}
.parallax_2{
  background-image: url("/image/layer_2.png");
  background-size:cover;
  background-position: center;
}
.parallax_3{
  background-image: url("/image/layer_3.png");
  background-size:cover;
  background-position: center;
}
.parallax_4{
  background-image: url("/image/layer_4.png");
  background-size:cover;
  background-position: center;
}
.parallax_5{
  background-image: url("/image/layer_5.png");
  background-size:cover;
  background-position: center;
}
.parallax_6{
  background-image: url("/image/layer_13.png");
  background-size:cover;
  background-position: center;
}
.movie_catalog .head .images .svg_container{
	width: 40em;
	position: absolute;
	display: flex;
	/* transition: all 0.2s ease-in-out; */
  margin-left: -2.5em;
  align-items: center;
  margin-bottom: -2em;
}
.movie_catalog .head .images .svg_container .logo_svg{
	width: 100%;
	height: 100%;
}
.movie_catalog .head .images .svg_container .logo_svg:first-child{
	margin-right: 3em;
  width: 115%;
}
.movie_catalog .head .images .svg_container .logo_svg .svg_text{
	fill: none;
	stroke: white;
	stroke-width: 4;
}
.movie_catalog .head .images .svg_container .logo_svg .tower{
  fill: url('#grad2');
  stroke: url('#grad3');
  stroke-width: 4;
}
.movie_catalog .head .images .svg_container .pine1{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -0.8em;
  margin-top: -0.8em;
  width: 2em;
  height: 2em;
  transform: rotate(15deg) scale(0);
  transform-origin: bottom center;
  z-index: 2;

  animation-name: pine_logo1;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3.3s;
}
.movie_catalog .head .images .svg_container .pine2{
  position: absolute;
  right: 0;
  top: 0;
  width: 1.8em;
	height: 1.8em;
  margin-right: -0.7em;
  margin-top: -0.7em;
  transform: rotate(60deg) scale(0);
  transform-origin: bottom center;

  animation-name: pine_logo2;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3.5s;
}

@keyframes pine_logo1{
  from{
    transform: rotate(15deg) scale(0);
  }
  to{
    transform: rotate(15deg) scale(1);
  }
}
@keyframes pine_logo2{
  from{
    transform: rotate(60deg) scale(0);
  }
  to{
    transform: rotate(60deg) scale(1);
  }
}
/*== animations ==============================================================================================*/
.movie_catalog .head .images .svg_container .logo_svg .svg_text{
	stroke-dasharray: 500 780;
  stroke-dashoffset: 600;
  animation-name: stroke;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.movie_catalog .head .images .svg_container .logo_svg .tower{
	stroke-dasharray: 500 700;
  stroke-dashoffset: 600;
  animation-name: stroke_tower;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.movie_catalog .head .images .svg_container .logo_svg #grad2 stop{
  stop-opacity:0;
  animation-name: opacity;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes stroke{
  from{
    stroke-dasharray: 500 780;
    stroke-dashoffset: 600;
  }
  to{
    stroke-dasharray: 500 0;
    stroke-dashoffset: 200;
  }
}
@keyframes stroke_tower{
  0%{
    stroke-dasharray: 500 700;
    stroke-dashoffset: 600;
    stroke-width: 4;
  }
  70%{
    stroke-width: 3;
  }
  100%{
    stroke-width: 0;
    stroke-dasharray: 500 0;
    stroke-dashoffset: 200;
  }
}
@keyframes opacity{
  0%{
    stop-opacity:0;
  }
  60%{
    stop-opacity:0;
  }
  100%{
    stop-opacity:1;
  }
}


@media only screen and (max-width: 600px) {
	.movie_catalog .head .images{
		height: 42%;
	}
	.movie_catalog .head .images .svg_container{
		font-size: 50%;
		margin-top: -8em;
	}
	.movie_catalog .head .images .svg_container .logo_svg .svg_text{
		stroke-width: 5;
	}
}

/*=== LINES ===================================================================================================*/

.movie_catalog .head .top_line{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, rgba(36,10,34,1) 0%, rgba(153,0,58,1) 100%);
  top: 2.5em;
  transform: scale(0);
  animation-name: pop;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: right;
  animation-delay: 1s;
}
.movie_catalog .head .right_line{
  position: absolute;
  z-index: 10;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, rgba(36,10,34,1) 0%, rgba(153,0,58,0.8) 100%);
  right: 2.5em;
  transform: scale(0);
  animation-name: pop;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
  animation-delay: 1s;
}

@keyframes pop {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}


.movie_catalog .head .top_logo{
  width: 8em;
  height: 2.5em;
  position: absolute;
  top: 1.4em;
  right: 1.4em;
  background:rgba(254,220,200,1);
  z-index: 11;
  /* border: 1px solid black; */
  border-radius: 30px;
  padding: 0px 5px 0px 5px ;
  box-shadow: 0px 0px 5px 5px rgba(254,220,200,1);
}
.movie_catalog .head .top_logo .container_logo{
  width: 100%;
  height: 100%;
  display: flex;
  transform: scale(0);

  animation-name: pop;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
.movie_catalog .head .top_logo .container_logo .logo_svg{
  width: 100%;
  height: 100%;
}
.movie_catalog .head .top_logo .container_logo .logo_svg:first-child{
  margin-right: 0.5em;
}
.movie_catalog .head .top_logo .container_logo .logo_svg .svg_text{
  fill: rgb(126, 0, 49);
  stroke-width: 4;
  stroke: rgb(126, 0, 49);
}
.movie_catalog .head .top_logo .container_logo .logo_svg .tower{
  fill: url('#grad4');
  stroke-width: 0;
}


.movie_catalog .head .header{
  /* border: 1px solid black; */
  position: absolute;
  width: 25em;
  height: 15em;
  top: 40%;
  left: 10%;
  transform: translate(0%,-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie_catalog .head .hover_pine{
  /* border: 1px solid black; */
  width: 2.1em;
  height: 2.1em;
  position: absolute;
  left: -1.3em;
  top: -1em;
  transform-origin: bottom center;
  transform: rotate(-30deg);
}
.movie_catalog .head .hover_pine:hover{
  animation-name: shake;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
@keyframes shake{
  0%{transform: rotate(-30deg);}
  25%{transform: rotate(-45deg);}
  80%{transform: rotate(-25deg);}
  100%{transform: rotate(-30deg);}
}
.movie_catalog .head .hover_pine:first-child{
  transform: rotate(-70deg) translate(-5%,-5%);
}
.movie_catalog .head .hover_pine:hover:first-child{
  transform: rotate(-70deg) translate(-5%,-5%);
  animation-name: shake2;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
@keyframes shake2{
  0%{transform: rotate(-70deg) translate(-5%,-5%);}
  25%{transform: rotate(-85deg) translate(-5%,-5%);}
  80%{transform: rotate(-65deg) translate(-5%,-5%);}
  100%{transform: rotate(-70deg) translate(-5%,-5%);}
}
.movie_catalog .head .hover_pine .header_pine{
  width: 100%;
  height: 100%;
}
.movie_catalog .head .hover_pine .header_pine path{
  fill: rgba(126,0,49,1);
  filter: drop-shadow(0px 0px 2px rgba(126,0,49,1));
}
.movie_catalog .head .hover_pine:first-child .header_pine path{
  fill: rgb(57, 16, 48);
  filter: drop-shadow(0px 0px 2px rgb(57, 16, 48));
}
.movie_catalog .head .header .wraper{
  /* border: 1px solid black; */
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.movie_catalog .head .header .wraper h2{
  color: rgba(36, 10, 34,1);
  font-size: 1.4em;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgba(36,10,34,1);
  letter-spacing: 1px;
}
.movie_catalog .head .header .wraper p{
  color: rgba(36, 10, 34,1);
  font-size: 0.95em;
  text-shadow: 0px 0px 1px rgba(36,10,34,1);
}







.movie_catalog .head .mockup_container {
  width: 22em;
  height: 13em;
  position: absolute;
  z-index: 10;
  top: 40%;
  right: 15%;
  transform: translate(0%,-50%);
  /* border: 1px solid black; */
  perspective: 500px;
  font-family: 'Allerta Stencil', sans-serif;
  z-index: 2;
}
.movie_catalog .head .mockup_container .mockup{
  width: 100%;
  height: 100%;
  position: absolute;
}
.movie_catalog .head .mockup_container .mockup .corners{
  width: 100%;
  height: 100%;
  position: absolute;
}
.movie_catalog .head .mockup_container .mockup .img_wraper{
  width: 110%;
  height: 135%;
  position: absolute;
}
.movie_catalog .head .mockup_container .mockup .img_wraper .img_background{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/image/Untitled.png");
  z-index: 10;
  background-size: cover;
  filter: drop-shadow(0px 0px 2px rgb(153, 0, 58));
}
.movie_catalog .head .mockup_container .mockup .corners .top_border{
  width: 13%;
  height: 2px;
  background: rgb(57, 16, 48);
  position: absolute;
  top: 0;
  box-shadow: 0px 0px 2px rgb(57, 16, 48);
}
.movie_catalog .head .mockup_container .mockup .corners .top_border.left{
  left: 0;
}
.movie_catalog .head .mockup_container .mockup .corners .top_border.right{
  right: 0;
}
.movie_catalog .head .mockup_container .mockup .corners .bottom_border{
  width: 13%;
  height: 2px;
  background: rgb(57, 16, 48);
  position: absolute;
  bottom: 0;
  box-shadow: 0px 0px 2px rgb(57, 16, 48);
}
.movie_catalog .head .mockup_container .mockup .corners .bottom_border.left{
  left: 0;
}
.movie_catalog .head .mockup_container .mockup .corners .bottom_border.right{
  right: 0;
}
.movie_catalog .head .mockup_container .mockup .corners .left_border{
  width: 2px;
  height: 15%;
  background: rgb(57, 16, 48);
  position: absolute;
  left: 0;
  box-shadow: 0px 0px 2px rgb(57, 16, 48);
}
.movie_catalog .head .mockup_container .mockup .corners .left_border.top{
  top: 0;
}
.movie_catalog .head .mockup_container .mockup .corners .left_border.bottom{
  bottom: 0;
}
.movie_catalog .head .mockup_container .mockup .corners .right_border{
  width: 2px;
  height: 15%;
  background: rgb(57, 16, 48);
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 2px rgb(57, 16, 48);
}
.movie_catalog .head .mockup_container .mockup .corners .right_border.top{
  top: 0;
}
.movie_catalog .head .mockup_container .mockup .corners .right_border.bottom{
  bottom: 0;
}
.movie_catalog .head .mockup_container .mockup .content{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
}
.movie_catalog .head .mockup_container .mockup .content h2{
  color: rgb(57, 16, 48);
  font-size: 1.6em;
  width: 4em;
  text-align: center;
  line-height: 1em;
  font-family: 'Allerta Stencil', sans-serif;
}
.movie_catalog .head .mockup_container .mockup .content .time{
  /* border: 1px solid black; */
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 0.9em;
  text-shadow: 0px 0px 1px rgb(57, 16, 48);
  font-family: 'Allerta Stencil', sans-serif;
}
.movie_catalog .head .mockup_container .mockup .content .top_left{
  position: absolute;
  top: 20px;
  left: 20px;
  /* border: 1px solid black; */
  width: 5em;
  height: 2.5em;
}
.movie_catalog .head .mockup_container .mockup .content .top_left .play,.movie_catalog .head .mockup_container .mockup .content .top_left .rec{
  /* border: 1px solid black; */
  display: flex;
  height: 50%;
  align-items: center;
}
.movie_catalog .head .mockup_container .mockup .content .top_left .play{
  cursor: pointer;
}
.movie_catalog .head .mockup_container .mockup .content .top_left .rec p,.movie_catalog .head .mockup_container .mockup .content .top_left .play p{
  color: rgba(36,10,34,1);
  font-size: 0.9em;
  text-shadow: 0px 0px 1px rgb(57, 16, 48);
  line-height: 1.2em;
  font-family: 'Allerta Stencil', sans-serif;
}
.movie_catalog .head .mockup_container .mockup .content .top_left .play .play_icon{
  /* border: 1px solid black; */
  margin-left: 0.25em;
  transition: all 0.1s ease-in-out;
}
.movie_catalog .head .mockup_container .mockup .content .top_left .play:hover .play_icon{
  /* border: 1px solid black; */
  margin-left: 0.50em;
}
.movie_catalog .head .mockup_container .mockup .content .top_left .play .play_icon i{
  font-size: 0.7em;
  color: rgb(36, 10, 34);
  /* border: 1px solid black; */
}
.movie_catalog .head .mockup_container .mockup .content .top_left .rec .rec_icon{
  margin-left: 0.8em;
  /* border: 1px solid black; */
}
.movie_catalog .head .mockup_container .mockup .content .top_left .rec .rec_icon .circle{
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background:rgb(215, 36, 38);
}
.movie_catalog .head .mockup_container .mockup .content .bottom_left{
  position: absolute;
  /* border: 1px solid black; */
  bottom: 20px;
  left: 20px;
  width: 6em;
  height: 2em;
}
.movie_catalog .head .mockup_container .mockup .content .bottom_left p{
  color: rgba(36,10,34,1);
  font-size: 0.9em;
  text-shadow: 0px 0px 1px rgb(57, 16, 48);
  line-height: 1.2em;
  font-family: 'Allerta Stencil', sans-serif;
}
.movie_catalog .head .mockup_container .mockup .content .name{
  width: 4em;
  height: 1em;
  bottom: 20px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}
.movie_catalog .head .mockup_container .mockup .content .name p{
  font-size: 1em;
  font-family: 'Allerta Stencil', sans-serif;
  color: rgb(36, 10, 34);
  text-shadow: 0px 0px 1px rgb(57, 16, 48);
}
.movie_catalog .head .mockup_container .mockup .content .logout{
  background: rgba(126,0,49,0.9);
  width: 5em;
  height: 2em;
  bottom: -1.2em;
  right: 0px;
  position: absolute;
  cursor: pointer;
  clip-path: inset(0% 0% 100% 0%);
  transition: all 0.2s ease-in-out;
}
.movie_catalog .head .mockup_container .mockup .content .logout p{
  font-size: 1em;
  font-family: 'Allerta Stencil', sans-serif;
  color: rgb(255, 191, 131);
}
.movie_catalog .head .mockup_container .mockup .content .name:hover ~ .logout,.movie_catalog .head .mockup_container .mockup .content .logout:hover{
  clip-path: inset(0% 0% 0% 0%);
}














.movie_catalog .head .links{
  width: 2em;
  height: 8em;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1em;
  left: 2em;
  z-index: 11;
  justify-content: space-evenly;
}
.movie_catalog .head .links .links_ele{
  width: 100%;
  height: 31%;
  position: relative;
  cursor: pointer;
}
.movie_catalog .head .links .links_ele .pink{
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, rgba(153,0,58,0.95) 0%, rgba(126,0,49,1) 100%);
  position: absolute;
  transition: all 0.1s ease-in-out;
}
.movie_catalog .head .links .links_ele .border{
  width: 100%;
  height: 100%;
  color: rgb(255, 191, 131);
  transition: all 0.1s ease-in-out;
  font-size: 1.1em;
}
.movie_catalog .head .links .links_ele .border i{
  transition: all 0.1s ease-in-out;
}
.movie_catalog .head .links .links_ele:hover .pink{
  width: 5px;
}
.movie_catalog .head .links .links_ele:hover .border i{
  transform: translateX(5px);
  text-shadow: 0px 0px 2px rgb(255, 191, 131);
}













.movie_catalog .body{
  width: 100%;
  height: 100vh;
	font-size: 100%;
	position: relative;
  background: rgba(36,10,34,1);
}
.movie_catalog .body .scroll_up{
  border: 1px solid white;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%,-50%);
  width: 2em;
  height: 2em;
  cursor: pointer;
  z-index: 10;
}
.movie_catalog .body .right_line{
  position: absolute;
  z-index: 10;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, rgba(153,0,58,0.8) 0%, rgba(153,0,58,1) 100%);
  right: 2.5em;
  /* transform: scale(0);
  animation-name: pop;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
  animation-delay: 1s; */
}
